* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN */
.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
}

.login-box h2 {
    color: white;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #00c6ff;
    color: white;
    cursor: pointer;
}

#error-text {
    color: #ff4d4d;
    margin-top: 10px;
}

/* SCREENS */
.welcome-screen,
.game-screen,
.end-screen {
    position: absolute;
    inset: 0;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TEXT */
.welcome-screen h1,
.end-screen h1 {
    font-size: 60px;
    color: #00c6ff;
    text-shadow: 0 0 20px #00c6ff;
    animation: zoomIn 1s ease;
}

.end-screen p {
    color: white;
    margin-top: 20px;
    font-size: 22px;
}

@keyframes zoomIn {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

/* GAME */
.game-screen h2 {
    color: white;
    margin-bottom: 10px;
}

#startBtn {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background: lime;
    cursor: pointer;
    font-weight: bold;
}

canvas {
    background: skyblue;
    border-radius: 10px;
}
